*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(125, 75, 120);
}
h1{
    font-size: 5rem;
    color: blanchedalmond;
    font-weight: bold;
    text-align: center;
}
h2{
    color: orangered;
    font-size: 20px;
    text-shadow: 2px -2px black;
    font-weight: bold;
}
.pic1{
    margin-top: 2rem;
    height: 75vh;
    width: 92vw;
    margin-left: 5rem;
}
.bt1{
    position: absolute;
    color: #000;
    top: 149px;
    font-size: 1.5rem;
    font-weight: bold;
}
.bt2{
    text-align: center;
    position: absolute;
    color: #fff;
    top: 250px;
    font-size: 1rem;
    font-weight: bold;
}

.ct1{
    position: absolute;
    color: #000;
    top: 47%;
    font-size: 1.5rem;
    font-weight: bold;
}
.ct2{
    text-align: center;
    position: absolute;
    color: #fff;
    top: 61%;
    font-size: 1rem;
    font-weight: bold;
}

.dt1{
    position: absolute;
    color: #000;
    top: 71%;
    font-size: 1.5rem;
    font-weight: bold;
}
.dt2{
    text-align: center;
    position: absolute;
    color: #fff;
    top: 86%;
    font-size: 1rem;
    font-weight: bold;
}

.tt1{
    left: 60%;
    position: relative;
}
.tt2{
    left: 74%;
    position: relative;
}
.tt3{
    left: 88%;
    position: relative;
}
.tt4{
    left: 105%;
    position: relative;
}
.tt5{
    left: 118%;
    position: relative;
}
.tt6{
    left: 60%;
    padding-right: 0;
    background-color: blue;
    position: relative;
}
.tt7{
    left: 74%;
    background-color: rgb(223, 97, 24);
    position: relative;
}
.tt8{
    left: 88%;
    background-color: blue;
    position: relative;
}
.tt9{
    left: 105%;
    background-color: rgb(235, 126, 23);
    position: relative;
}
.tt10{
    left: 112%;
    background-color: blue;
    position: relative;
}
.tt01{
    color: #000;
    left: 60%;
    position: relative;
}
.tt02{
    color: #000;
    left: 72%;
    position: relative;
}
.tt03{
    color: #000;
    left: 86%;
    position: relative;
}
.tt04{
    color: #000;
    left: 103%;
    position: relative;
}
.tt05{
    color: #000;
    left: 112%;
    position: relative;
}

.ctt1{
    left: 68%;
    position: relative;
}
.ctt2{
    left: 78%;
    position: relative;
}
.ctt3{
    left: 92%;
    position: relative;
}
.ctt4{
    left: 103%;
    position: relative;
}
.ctt5{
    left: 114%;
    position: relative;
}

.ctt6{
    left: 60%;
    padding-right: 0;
    background-color: blue;
    position: relative;
}
.ctt7{
    left: 65%;
    background-color: rgb(223, 97, 24);
    position: relative;
}
.ctt8{
    left: 70%;
    background-color: blue;
    position: relative;
}
.ctt9{
    left: 75%;
    background-color: rgb(235, 126, 23);
    position: relative;
}
.ctt10{
    left: 80%;
    background-color: blue;
    position: relative;
}
.ctt01{
    color: #000;
    left: 60%;
    position: relative;
}
.ctt02{
    color: #000;
    left: 65%;
    position: relative;
}
.ctt03{
    color: #000;
    left: 70%;
    position: relative;
}
.ctt04{
    color: #000;
    left: 75%;
    position: relative;
}
.ctt05{
    color: #000;
    left: 80%;
    position: relative;
}

.dtt1{
    left: 171%;
    position: relative;
}
.dtt2{
    left: 182%;
    position: relative;
}
.dtt3{
    left: 196%;
    position: relative;
}

.dtt6{
    left: 163%;
    padding-right: 0;
    background-color: blue;
    position: relative;
}
.dtt7{
    left: 170%;
    background-color: rgb(223, 97, 24);
    position: relative;
}
.dtt8{
    left: 181%;
    background-color: blue;
    position: relative;
}
.dtt01{
    color: #000;
    left: 163%;
    position: relative;
}
.dtt02{
    color: #000;
    left: 170%;
    position: relative;
}
.dtt03{
    color: #000;
    left: 181%;
    position: relative;
}

